/* universal selector*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* element selectors*/

input[type="text"]{
   height: 50px;
   width: 600px;
   background: whitesmoke;
   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;
   font-size: 20px;
   border: none;
   border-radius: 2px;
   padding: 10px 10px;
}

input[type="submit"]{
    height: 50px;
    width: 100px;
    background: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
 }

 body{
    font-family: sans-serif;
}
section{
    border: 2px solid blue;
    width: max-content;
    height: max-content;
    padding: 50px;
    background-color: gainsboro;
    margin-top: -90px;
 }

 /* class selectors*/
 .display{
    text-align: center;
 }

 .fivedays{
display: flex;
justify-content: space-around;
margin-top: 100px;
 }

 .history-button{
    position: relative;
    bottom: 500px;
   display: block;
    width: 100px;
    height: 50px;
    margin-bottom: 2px;
    background-color: blanchedalmond;
    
 }

 .display{
    background-color: gainsboro;
    border: 2px solid black;
    padding: 50px;
    margin-top: -60px;
 }

.header{
    display: flex;
    background-color: blanchedalmond;
    justify-content: center;
    min-height: 70px;
}
.input{
    text-align: center;
    margin: 100px 0;
}